.wrapper__payment {
    height: 160px;
    padding: 20px;
    /* background-color: var(--color-gray-24); */
    border-radius: 20px;
    background: radial-gradient(circle, rgba(155, 92, 231, 1) 0%, rgba(108, 92, 231, 1) 100%);
}

.wrapper__payment-grid {
    display: grid;
    height: 100%;
    padding: 1;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
}

.payment__container {
    background-color: var(--color-white);
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
}

.payment__container:hover {
    background: rgb(245, 245, 245);
    background: radial-gradient(circle, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 100%);
}

.payment__container:focus+:checked {
    background: rgb(245, 245, 245);
    background: radial-gradient(circle, rgba(245, 245, 245, 1) 0%, rgba(245, 245, 245, 1) 100%);
}

.wrapper__payment-card {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    flex-direction: column-reverse;
}

.payment-checked {
    display: block;
    width: 35px;
    background: url('../images/icons/Acrylic-green.svg') no-repeat;
    height: 35px;
    position: absolute;
}

.wrapper__payment-card>p {
    margin-top: 20px;
    font-size: 18px;
    color: var(--color-purple-dark);
    font-family: var(--font-family-b-700);
}

.hidebx {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

.display-box {
    cursor: pointer;
}